@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: 'MuseoModerno';
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    /* background-color: rgb(187, 227, 173); */
    /* background-color: rgb(173, 227, 173); */

    background: linear-gradient(#fbfbfb,rgb(173, 227, 173));
  }

.rotate{
  /* border: 1px solid black; */
  transform: rotate(0.2turn);
}
.myHeader{
  font-family: 'MuseoModerno';
}
.madAnim{
  /* animation: slidein 24s  infinite; */
  border-top-left-radius:40% ;
  border-top-right-radius:60% ;
  border-bottom-left-radius:80% ;
  border-bottom-right-radius:30% ;
}
.madAnim2{
  animation: slidein 14s  infinite;
}
.shadowInner {
  box-shadow: inset 0 1px 6px #90b59b67;
}
.moveUpDown:hover{
  animation: bounce 2s infinite ease-in-out;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slidein {
  0% {
    border-top-left-radius:0% ;
    border-top-right-radius:0% ;
    border-bottom-left-radius:0% ;
    border-bottom-right-radius:0% ;
  }
  5% {
    border-top-left-radius:25% ;
    border-top-right-radius:10% ;
    border-bottom-left-radius:35% ;
    border-bottom-right-radius:25% ;
  }
  15% {
    border-top-left-radius:50% ;
    border-top-right-radius:20% ;
    border-bottom-left-radius:70% ;
    border-bottom-right-radius:50% ;
  }
  24% {
    border-top-left-radius:40% ;
    border-top-right-radius:60% ;
    border-bottom-left-radius:80% ;
    border-bottom-right-radius:30% ;
  }
  30% {
    border-top-left-radius:30% ;
    border-top-right-radius:90% ;
    border-bottom-left-radius:90% ;
    border-bottom-right-radius:10% ;
  }

  50% {
    border-top-left-radius:10% ;
    border-top-right-radius:90% ;
    border-bottom-left-radius:90% ;
    border-bottom-right-radius:90% ;

  }

  65% {
    border-top-left-radius:30% ;
    border-top-right-radius:40% ;
    border-bottom-left-radius:60% ;
    border-bottom-right-radius:30% ;
  }
  75% {
    border-top-left-radius:20% ;
    border-top-right-radius:70% ;
    border-bottom-left-radius:55% ;
    border-bottom-right-radius:20% ;
  }
  85% {
    border-top-left-radius:30% ;
    border-top-right-radius:90% ;
    border-bottom-left-radius:50% ;
    border-bottom-right-radius:10% ;
  }


  100% {
    border-top-left-radius:0% ;
    border-top-right-radius:0% ;
    border-bottom-left-radius:0% ;
    border-bottom-right-radius:0% ;
  }
}

.form-check-input{
  width:20px;
  height:20px;
  border-radius: none;
  
  border:3px solid;
  accent-color: rgb(27, 70, 29);
  display: inline-block;
  flex-direction: row;
}



